body {
  background-color: white;
}

.App {
  max-width: 800px;
  margin: auto;
}

.App-header {
  text-align: center;
  color: rgb(51, 103, 214);
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-search {
  display: flex;
  align-items: center;
  width: 100%;
}

.App-search-input {
  flex: 5;
}

.App-search-button {
  flex: 1;
}

.App-sort-metric {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-sort-metric label {
  flex-basis: 15%;
  padding-top: 4px;
}

.App-sort-metric input {
  flex-basis: 5%;
  padding-bottom: 4px;
}

.App-data-display table {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.App-data-display tr {
  display: flex;
}

.App-data-display table tr th {
  flex: 1;
}

.App-data-display table tr td {
  flex: 1;
}

.App-footer {
  text-align: center;
  margin: 20px auto;
}

.App-button{
  background:rgb(51, 103, 214);
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  width:84px;
  font-size:1em;
  padding:0 1em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-button:hover{
  background:#fff;
  color:rgb(51, 103, 214);
}

.App-button:before, .App-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background:rgb(51, 103, 214);
  transition:400ms ease all;
}

.App-button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.App-button:hover:before, .App-button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.App-input {
  width: 95%;
  height: 45px;
  padding-left: 10px;
  margin-right: 10px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 4px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.2em;
  font-style: normal;
}

.App-data-display-header {
  border-bottom: 2px solid rgb(238, 238, 238);
  padding: 5px 4px;
  margin: 20px 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  border-radius: 4px;
  color: rgb(51, 103, 214);
}

.App-no-result {
  margin: 20px auto;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.App-data-body {
  border-bottom: 2px solid rgb(238, 238, 238);
  border-radius: 4px;
  margin-bottom: 20px;
}

.App-tweet-container {
  border-bottom: 2px solid rgb(238, 238, 238);
  border-radius: 4px;
  margin: 20px;
  padding: 4px;
}

.App-tweet-name{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: rgb(51, 103, 214);
}

.App-tweet-time{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: silver;
  font-size: 1em;
}

.App-tweet-meta{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: silver;
  font-size: 1em;
}

@media only screen and (max-width: 400px){
  .App-search div {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .App-search div label{
    text-align: center;
    flex-basis: 100%;
  }
  
  .App-search div input {
    flex-basis: 100%;
  }
}